<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1038402776074-04mhafi6fk6ubie14cdf68ou3hdol17j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038402776074-04mhafi6fk6ubie14cdf68ou3hdol17j</string>
	<key>API_KEY</key>
	<string>AIzaSyAeraZEjEAL1JKR2r_pQ_K8OjeR8JlW1mc</string>
	<key>GCM_SENDER_ID</key>
	<string>1038402776074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tps.fitnesskeeper</string>
	<key>PROJECT_ID</key>
	<string>fitnesskeeper-c903f</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnesskeeper-c903f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038402776074:ios:0644d9cb9e02a420</string>
	<key>DATABASE_URL</key>
	<string>https://fitnesskeeper-c903f.firebaseio.com</string>
</dict>
</plist>